.hoverable{
  display:inline-block;
  backface-visibility: hidden;
  vertical-align: middle;
  position:relative;
  box-shadow: 0 0 1px rgba(0,0,0,0);
  tranform: translateZ(0);
  transition-duration: .3s;
  transition-property:transform;
}

.hoverable:before{
  position:absolute;
  pointer-events: none;
  z-index:-1;
  content: '';
  top: 100%;
  left: 5%;
  height:10px;
  width:90%;
  opacity:0;
  background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  /* W3C */
  transition-duration: 0.3s;
  transition-property: transform, opacity;
}

.hoverable:hover, .hoverable:active, .hoverable:focus{
  transform: translateY(-5px);
}
.hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before{
  opacity: 1;
  transform: translateY(-5px);
}



@keyframes bounce-animation {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.bounce {
  animation-name: bounce-animation;
  animation-duration: 2s;
}



/*everything below here is just setting up the page, so dont worry about it */


@media (min-width: 768px) {
  .navbar{
    text-align: center !important;
    float: none;
    display: inline-block;
  }
}

body {
  /*background-color: rgba(0,0,0,1);*/
  font-weight:600;
  text-align:center !important;
  color: white;
}

nav {
  background: none !important;
  text-transform:uppercase;}
  li {
    margin-left: 3em;
    margin-right: 3em;}
    a{
      transition: .5s color ease-in-out;
    }
  


.page-title {
  opacity: .75 !important;
}

.banner{
  background-image: url('Pic.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
.bgblur{
  background-color: rgba(0, 0, 0, 0.65);
}

.bgimg{
  height: 700px;


}
.page-title{
  margin-top: 5rem;
}
.navcolor a{
  color: white;
  font-size: 1.4rem;

}


.navcolorred a{
  border-left: ;
  color: black;
}


.navcolor{
  margin-top:90px;
}

.lead{
  font-size:4rem;
  font-style: italic;
  color: white;
}

.page-title h2{
  font-size: 2.5rem;
}







/*Typewriter*/

 .typewriter{
        font-family: italic;/* Web-safe typewriter-like font */
        overflow: hidden;/* Ensures the content is not revealed until the animation */
        border-right: .17em solid pink;/* The typewriter cursor */
        white-space: nowrap;/* Keeps the content on a single line */
        margin: 0 auto;/* Gives that scrolling effect as the typing happens */
        letter-spacing: .14em;/* Adjust as needed */
        animation: typing 3.0s steps(25, end), blinking-cursor .4s step-end infinite;
      }
      /* The typing effect */
      @keyframes typing {
        from {
          width: 0
        }
        to {
          width: 50%
        }
      }
      /* The typewriter cursor effect */
      @keyframes blinking-cursor {
        from,
        to {
          border-color: transparent
        }
        30% {
          border-color: transparent;
        }
      }

/*typewriter ends*/



/*About Css*/

.abpic{
  width: 100%;
}

.jumbotroni{
  padding: 13px;
  color: black;
}
h3,h2{
  color: black;
}

/*About CSS ends*/





/*Contact*/

.section-title,.pp{
  color: black;
}

.lkn{
  height: 40px;
}


.control-label{
  color: grey;
  float: left;
  font-weight: 0px;
}

.section-padding{
  margin-top: 5rem;
}

.pp{
  margin-top: 8rem;
}

input,textarea{
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 1px solid #e1e1e1;
  width: 100%;
}


/*contact ends*/